<html>
	<head>
		<title>Event Page</title>
		<style>
			.header{
				display: inline-block;
			}
			h1{
				display: inline-block;
			}
			h3{
				margin: 0px;
				width: 300px;
			}
			a{
				display: inline-block;
				margin-left: 20px;
			}
			table{
				border: 1px solid black;
				border-collapse: collapse;
			}
			th{
				border: 1px solid black;
				background-color: gray;
			}
			td{
				border: 1px solid black;
				padding: 5px;
			}
			.comment_stuff{
				display: inline-block;
				margin-left: 200px;
			}
			.attendees_list{
				display: inline-block;
			}
			p{
				border-bottom: 1px dashed black;
			}
			.show{
				width: 400px;
				height: 200px;
				border: 1px solid blue;
				overflow: scroll;
				margin-bottom: 20px;
			}

		</style>
	</head>
	<body>
		<div class='header'>
			<h1><%= @event.name %></h1>
			<a href='/events/index'>Events Dashboard</a>
			<a href='/signout'>Logout</a>
		</div>
			<h3>Host: <%= @event.user.first_name %></h3>
			<h3>Date: <%= @event.date %></h3>
			<h3>Location: <%= @event.city %>, <%= @event.state %></h3>
			<h3>People who are joining the event: <%= @count %></h3>

		<div class="attendees_list">
			<table>
				<thead>
					<th>Name</th>
					<th>Location</th>
					<th>State</th>
				</thead>
				<tbody>
					<% @attendees.each do |attendee| %>
					<tr>
						<td><%= attendee.first_name %></td>
						<td><%= attendee.city %></td>
						<td><%= attendee.state %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>

		<div class='comment_stuff'>
			<div class='show'>
				<h3>Discussion about this event:</h3>
				<% @comments.each do |comment| %>
					<p><%= comment.first_name %> says: <%= comment.comment %></p>
				<% end %>
			</div>
			<div class='add'>
				<h3>Add Comment</h3>
				<form action="/comments/" method='post'>
					<input name="authenticity_token" value="<%=form_authenticity_token %>" type="hidden">
					<textarea name='comment[comment]'></textarea>
					<input type='hidden' name='comment[event_id]' value='<%= @event.id %>'>
					<input type='hidden' name='comment[user_id]' value='<%= @user %>'>
					<input type='submit' value='Submit Comments'>
				</form>
			</div>
		</div>

	</body>
</html>